<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Document</title>
  </head>
  <body>
    <!-- statistic-->
    <div class="statistic">
      <h2 class="statistic__title">Статистика</h2><b>Погода</b><img src="img/weather.png" width="439" height="210"/><b>Состояние на догоге</b><img src="img/state_road.png" width="245"/><b>Заданий выполняется:</b>
      <p>В процессе 27 заданий</p><b>Заданий в очереди:</b>
      <P>12 заданий в очереди</P><b>Ошибки:</b>
      <p>2 машины</p><b>Всего машин в дело:</b>
      <P>Имеется 6 машины            </P>
    </div>
  </body>
</html>