<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Document</title>
  </head>
  <body>
    <!-- statistic-->
    <div class="depo">
      <h2 class="depo__title">Депо #325</h2>
      <ul class="depo__list">
        <li class="depo__header">
          <div class="depo__elem">Тип машины</div>
          <div class="depo__elem">Номер машины</div>
          <div class="depo__elem">Тип Уборки</div>
          <div class="depo__elem">Состояние</div>
          <div class="depo__elem">Статус готовности</div>
        </li>
        <li class="depo__row">
          <div class="depo__inner">
            <div class="depo__elem"><img src="img/road.svg"/></div>
            <div class="depo__elem">A323AA</div>
            <div class="depo__elem">Сухая уборка</div>
            <div class="depo__elem">На задании(D324F2)</div>
          </div>
          <div class="depo__state"></div>
        </li>
        <li class="depo__row">               
          <div class="depo__inner">
            <div class="depo__elem"><img src="img/garbage-truck.svg"/></div>
            <div class="depo__elem">Сухая уборка</div>
            <div class="depo__elem">A323AA</div>
            <div class="depo__elem">На задании(D324F2)</div>
          </div>
          <div class="depo__state">                   </div>
        </li>
        <li class="depo__row">                   
          <div class="depo__inner">
            <div class="depo__elem"><img src="img/garbage-truck.svg"/></div>
            <div class="depo__elem">A323AA</div>
            <div class="depo__elem">Сухая уборка</div>
            <div class="depo__elem">На задании(D324F2)</div>
          </div>
          <div class="depo__state">                   </div>
        </li>
        <li class="depo__row">                   
          <div class="depo__inner">
            <div class="depo__elem"><img src="img/garbage-truck.svg"/></div>
            <div class="depo__elem">A323AA</div>
            <div class="depo__elem">Сухая уборка</div>
            <div class="depo__elem">На задании(D324F2)</div>
          </div>
          <div class="depo__state"></div>
        </li>
      </ul>
    </div>
  </body>
</html>