<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=snippets/dist/favicon.ico> <title>sundali</title>
  <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link rel=stylesheet href=snippets/dist/css/normalize.css> <link rel=stylesheet
    href=snippets/dist/css/style.css> <link href=snippets/dist/css/app.49cdd71b.css rel=preload
    as=style>
  <link href=snippets/dist/css/chunk-vendors.34f8247a.css rel=preload as=style>
  <link href=snippets/dist/js/app.98c8d552.js rel=preload as=script>
  <link href=snippets/dist/js/chunk-vendors.d2efa117.js rel=preload as=script>
  <link href=snippets/dist/css/chunk-vendors.34f8247a.css rel=stylesheet>
  <link href=snippets/dist/css/app.49cdd71b.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but sundali doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id=app></div>
  <script src=snippets/dist/js/chunk-vendors.d2efa117.js> </script> <script
    src=snippets/dist/js/app.98c8d552.js> </script> </body> </html>